In [2]:
import pandas as pd  
import numpy as np 
import matplotlib.pyplot as plt  
from pathlib import Path

In [ ]:
PATH = Path('../../')

In [4]:
list(PATH.iterdir())

[WindowsPath('../../.git'),
 WindowsPath('../../code'),
 WindowsPath('../../data'),
 WindowsPath('../../figures'),
 WindowsPath('../../products'),
 WindowsPath('../../README.md')]

In [3]:
DATA= PATH/'data'
CODE= PATH/'code'
FIGURES=PATH/'figures'
PRODUCTS=PATH/'products'

In [12]:
WORKING_DATA= DATA/'working_data'

In [13]:
ratings = pd.read_csv(WORKING_DATA/'ratings_small.csv')
links = pd.read_csv(WORKING_DATA/'links_small.csv')

In [14]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [15]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [19]:
# Percentage of null values in each columns
100*ratings.isnull().sum()/len(ratings)

userId       0.0
movieId      0.0
rating       0.0
timestamp    0.0
dtype: float64

In [20]:
# Percentage of null values in each columns
100*links.isnull().sum()/len(links)

movieId    0.000000
imdbId     0.000000
tmdbId     0.142466
dtype: float64

In [ ]:
#should use imdbID isntead of movieID allows for adding of movies later